@charset "UTF-8";
/* CSS Document */
body {
  margin:0;
  background-color:white;
  font-family: Verdana, Arial, sans-serif;
}

h1 {
  font-family: "Kanit", Verdana, sans-serif;
  font-size: 45px;
  color: navy;
}

h2 {
  font-family: "Kanit", Verdana, sans-serif;
  font-size: 15px;
}

h8 {
  font-family: "Kanit", Verdana, sans-serif;
  font-size: 10px;
}

h9 {
  font-family: "Kanit", Verdana, sans-serif;
  font-size: 35px;
  color: navy;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4fbcef;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #3f64c0;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 10px 0px rgba(0,0.2,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #4fbcef;
color: #fff}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4fbcef;
  color: white;
  text-align: center;
}

@media screen and (max-width: 600px) {
  ul.dropdown li.right, 
  ul.dropdown li {float: none;}
}