@charset "UTF-8";
@charset "UTF-8";
/* CSS Document */
body {
  margin:0;
  background-color:white;
  font-family: Verdana, Arial, sans-serif;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-size: 45px;
  color: navy;
}

h2 {
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  color: navy;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  ul.dropdown li.right, 
  ul.dropdown li {float: none;}
}
/* CSS Document */

